<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-8 col md-offset-2">
      <article class="detail-article">
        <h1 class="article-detail-title"><%= @article.title %></h1>
        
        <div class="glyphicon glyphicon-calendar" id="article-date">
          <%= @article.created_at.strftime("%b %d, %Y") %>
        </div>
        
        <div class="article-body">
          <%= @article.body %>
        </div>
        
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning btn-space" %>
        <%= link_to "Delete", article_path(@article), method: :delete,
                              data: { confirm: "Are you sure you want to delete the article?" },
                              class: "btn btn-danger btn-space" %>
        
      </article>
    </div>
  </div>
</div>