<!DOCTYPE html>
<html>
<head>
  
  <%= render 'layouts/head' %>
  
</head>
<body>

  <%= render 'layouts/navbar' %>
  
  <%= render 'layouts/messages' %>

  <%= yield %>
  
  <%= yield :sidebar %>
  
  <%= render 'layouts/footer' %>

</body>
</html>
